[submodule "mods/conifers"]
	path = mods/conifers
	url = https://github.com/HybridDog/conifers
[submodule "mods/Minetest-WorldEdit"]
	path = mods/Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/desert_uses"]
	path = mods/desert_uses
	url = https://github.com/Menche/desert_uses
[submodule "mods/farming_plus"]
	path = mods/farming_plus
	url = https://github.com/Zeg9/farming_plus
	branch = mapgen
[submodule "mods/hydro"]
	path = mods/hydro
	url = https://github.com/HybridDog/hydro
[submodule "mods/locks"]
	path = mods/locks
	url = https://github.com/Sokomine/locks
[submodule "mods/minetest-craft_guide"]
	path = mods/minetest-craft_guide
	url = https://github.com/HybridDog/minetest-craft_guide
[submodule "mods/minetest-exchange"]
	path = mods/minetest-exchange
	url = https://github.com/Zeg9/minetest-exchange/
[submodule "mods/minetest_glow"]
	path = mods/minetest_glow
	url = https://github.com/HybridDog/minetest-glow
[submodule "mods/minetest-mod-jumping"]
	path = mods/minetest-mod-jumping
	url = https://github.com/Jeija/minetest-mod-jumping
[submodule "mods/minetest-mod-mesecons"]
	path = mods/minetest-mod-mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/VanessaE/pipeworks/
[submodule "mods/vines"]
	path = mods/vines
	url =  https://github.com/HybridDog/vines/
[submodule "mods/boats"]
	path = mods/boats
	url =  https://github.com/PilzAdam/boats
[submodule "mods/carts"]
	path = mods/carts
	url =  https://github.com/PilzAdam/carts
[submodule "mods/technic"]
	path = mods/technic
	url =  https://github.com/minetest-technic/technic
[submodule "mods/rulesaccept"]
	path = mods/rulesaccept
	url = https://github.com/HybridDog/rulesaccept
[submodule "mods/stay_inside"]
	path = mods/stay_inside
	url = https://github.com/HybridDog/stay_inside
